* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  overflow-x: hidden;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
}

#frase {
  text-align: center;
  font-size: 18px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 600;
  margin-top: -35px;
  color: #4f5285;
}

.formulario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.btns {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.botaoLogin {
  border-radius: 10px;
  color: #fff;
  width: 20rem;
  margin-top: 3px;
  padding: 12px;
  background-color: #4f5285;
  border: 2px solid #4f5285;
  margin-top: 2px;
  cursor: pointer;
}

.botaoLogin:hover {
  background-color: #fff;
  color: #4f5285;
  border: 2px dotted #4f5285;
}
.botaoCadastro:hover {
  background-color: #fff;
  color: #aaa4f2;
  border: 2px dotted #aaa4f2;
}
.botaoCadastro {
  border-radius: 10px;
  color: #fff;
  width: 20rem;
  margin-top: 3px;
  padding: 12px;
  background-color: #aaa4f2;
  margin-top: 2px;
  cursor: pointer;
  border: 2px solid #aaa4f2;
}

#ou {
  padding-top: 4px;
  font-weight: 600;
  margin-bottom: 3px;
}

.imagens2 {
  max-width: 21rem;
  margin-right: 2.5vw;
}

.iptLoginForm {
  border-top: none;
  border-left: none;
  border-right: none;
  padding: 10px;
  margin: 12px;
  width: 16rem;
  background-color: hsl(245, 75%, 80%, 0.05);
  border-radius: 3px;
  border-bottom: 2px solid #4f5285;
}

.botaoCadastro2 {
  border-radius: 10px;
  color: #fff;
  width: 20rem;
  margin-top: 3px;
  padding: 12px;
  background-color: #4f5285;
  margin-top: 2px;
  cursor: pointer;
  border: 2px solid #4f5285;
}

.botaoCadastro2:hover {
  background-color: #fff;
  color: #aaa4f2;
  border: 2px dotted #aaa4f2;
}

#cxX {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 815px) {
  #esquerda {
    display: none;
  }

  #ou,
  .botaoCadastro {
    display: block;
  }
}
