*{
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    overflow-x: hidden;

}

.App{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h3{
    text-align: center;
    font-size: 18px;
    margin-top: -35px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.formulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

input{
    padding: 10px;
    border-radius: 15px;
    margin: 12px;
    width:16rem;
}

.btns{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.botaoLogin{
    border-radius: 15px;
    color: #fff;
    width: 20rem;
    margin-top: 3px;
    padding: 12px;
    background-color: #4F5285;
    border: 2px solid #4F5285;
    margin-top: 2px;
    cursor: pointer;
}

.botaoLogin:hover{
    background-color: #fff;
    color: #4F5285;
    border:2px dotted #4F5285;
}
.botaoCadastro:hover{
    background-color: #fff;
    color: #AAA4F2;
    border:2px dotted #AAA4F2;
}
.botaoCadastro{
    border-radius: 15px;
    color: #fff;
    width: 20rem;
    margin-top: 3px;
    padding: 12px;
    background-color: #AAA4F2;
    margin-top: 2px;
    cursor: pointer;
    border: 2px solid #AAA4F2;
}

#ou{
    padding-top: 4px;
    font-weight: 600;
    margin-bottom: 3px;
}

.imagens2{
    max-width: 21rem;
    margin-right: 2.5vw;
}