* {
    padding: 0;
    margin: 0;
  }
  body{
    height: 100vh;
  }
  .Container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15%;
  }
  
  .perfil {
    display: flex;
    width: 9rem;
    margin-bottom: 35px; 
    border-radius: 50%;
    border: 2px solid #000;
  }

  .perfil:hover{
    border: 2px dashed #000;

  }

  .iconFinal{
    width: 1.8rem;
    color: #fff;
    background-color: #ffac3f;
    border-radius: 25px;
  }

  .iconAndamento{
    width: 1.8rem;
    background-color: #AAA4F2;
    border-radius: 25px;
  }
  .user-buttons {
    display: flex;
    flex-direction: column;
    margin-top: 35px; 
  }
  
  h2 {
    margin-top: 15px; 
  }

  #btnAndamento, #btnFinalizado {
    width: 20rem;
    height: 6.5vh;
    margin-bottom: 30px;
    border-radius: 10px;
    cursor: pointer;
  }
  
  #btnAndamento {
    background-color: #ffac3f;
    color: #fff;
    font-weight: 600;
    border: 1.8px solid #ffffff;
  }
  
  #btnAndamento:hover {
    background-color: #ffffff;
    color: #ffac3f;
    font-weight: 600;
    border: 2.4px dotted #ffac3f;
  }
  
  #btnFinalizado {
    background-color: #AAA4F2;
    color: #fff;
    font-weight: 600;
    border: 1.8px solid #ffffff;
  }
  
  #btnFinalizado:hover {
    background-color: #ffffff;
    color: #AAA4F2;
    font-weight: 600;
    border: 2.4px dotted #AAA4F2;
  }
  