#restante{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center
}

#imgLogo{
    width: 31em;
}

.logo{
    max-width: 70vw;
}

#btnVoltarCont{
    display: flex;
    justify-content: start;
    align-items: center;
}

.campoSenha{
    display: flex;
    align-items: center;
    justify-content: center;
}