* {
    margin: 0;
    padding: 0;
}

body{
    height: 100%;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.banner {
    max-width: 100vw;
    border-radius: 25px;
    /* margin-bottom: 25vh; */
}

#exp{
    text-align: center;
    margin-top: 10px;
    color: #000000;
    font-size: 22px;
}

#cxTudo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 135vh;
}

#fraseExplicacao {
    font-size: 18px;
    font-weight: 600;
    text-align: center;
}

.frases{
    align-items: center;
    color: #000000;
    font-weight: 850;
}

#terceiraFrase{
    align-items: center;
}

.botao{
    margin-bottom: -0.001vh;
}
.celular {
    max-width: 50%;
    align-items: center;
    margin-top: 20px;
    background-color: #ffffff;
    /*border: 1.3px dashed #000000; */
    border-radius: 5px;
}

#cel2{
    height: 43vh;
}
#cxCelular > .celular{
    display: flex !important;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#cxCelular{
    width: 80vw;
    display: flex !important;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #b6b9ff;
    border-radius: 5px;
    padding-bottom: 2vh;
}
.btnContinuar{
    align-items: center;
    padding: 10px 5rem;
    border-radius: 25px;
    background-color: #43456e;
    color: #fff;
    border: 2px solid #fff;
    font-weight: 800;
}

.btnContinuar:hover	{
    background-color: #ffffff;
    color: #43456e;
    border:2px dotted #43456e;
    cursor: pointer;
}

.carousel-indicators {
    background-color: #b6b9ff;
    border-radius: 5px;
}

.carousel-conntrol-next-icon{
    color:#000 !important;
}