body {
  height: 100vh;
  margin: 0;
  padding: 0;
}

#mais{
  background-color: #fff;
  margin-top: 3.5vw;
  align-items: center;
  display: flex;
  justify-content: center;
}

.maisBtn{
  background-color: #4F5285;
  padding: 1rem;
  position: relative;
  border: none;
  cursor: pointer;
  overflow: hidden;
  border-radius: 5px;
  transition: opacity 0.2s ease-in-out;
}

#botaoMais{
  max-width: 8vw;
  background-color: #4F5285;
}

.menssagemBtn{
  background-color: #4F5285;
  padding-left: 1.5rem;
  color: #fff;
  display: none;
}

.maisBtn:hover .menssagemBtn {
  display: block;
}

.maisBtn:not(:hover) .menssagemBtn {
  display: none;
}

.fotos4 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 2rem;
  background-color: rgb(243, 243, 243);
  padding: 2rem 0;
  width: 85vw;
  margin-left: 7.5vw;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

.lixo {
  margin: 0 auto;
  max-width: 60vw;
  width: 90vw;
  border-radius: 5px;
}

.localizacoes {
margin-top: 1rem;
}
 .endereco{
  margin-bottom: 1rem;
 }
.botao-container {
  gap: 5px;
  margin-top: 15px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.localizacao {
  background-color: #4F5285;
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  color: #fff;
  padding: 12px;
  border: 2px dotted #AAA4F2;
  border-radius: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease-out;
}

.botoes-postagem > button {
  margin-bottom: 1rem;
}
.localizacao:hover {
  background-color: #31344e;
  transition: background-color 0.3s ease-in;
}

.concluir {
  background-color: #AAA4F2;
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  color: #fff;
  padding: 12px;
  border: 2px dotted #AAA4F2;
  border-radius: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease-out;
}

.concluir:hover {
  background-color: #e5d9ff;
  transition: background-color 0.3s ease-in;
}

#cxInfo{
  display: flex;
  flex-direction: column;
  align-items: start;
}
.localizacao,
.concluir {
  margin: 0 5px;
  width: 40vw;
  padding: 1.5vh 0;
  color: #ffffff;
  border: none;
  border-radius: 15px;
  font-weight: 600;
  cursor: pointer;
}

.localizacao:focus,
.concluir:focus {
  outline: none;
}

.imagens2 {
  align-items: center;
  width: 100VW;
  margin-left: 5VW;
}

#espaco {
  height: 10vh;
}