#coordenadas{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: start;
    color: black;
}

.nomeUserPost , .cods{ 
    
    color: black;
}