.Previsão {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(228, 226, 226, 0.315);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  height: 10vh;
  width: 80vw;
  margin: 0 auto;
  border-radius: 30px;
  margin-top: 40px;
}

.marco {
  text-align: center;
  margin-top: -15px;
}

#temp {
  margin: 0;
}

#city {
  margin: 0;
}

.clima-icon{
  background-color: hsla(0, 0%, 95%, 0.7);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
  border-radius: 25px;
}