.Previsao {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(228, 226, 226, 0.315);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  height: 10vh;
  width: 93vw;
  margin: 0 1rem;
  border-radius: 30px;
  margin-top: 3rem;
}

#temp , #city {
  margin: 0;
  font-weight: 650;
  color: #000;
}

.cxItens > #state{
  font-size: 14px !important;
  color:#4F5285;
  text-align: center;
  font-weight: 700;
}

.cxItens{
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 1.6vh;
}

.clima-icon{
  background-color: rgba(242, 242, 242, 0.7);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
  border-radius: 50%;
}