.postar-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.postar-form {
  border: 1px solid #ffffff;
  background-color: #AAA4F2;
  border-radius: 10px;
  padding: 10px;
}

.postar-textarea {
  width: 100%;
  border: 1px solid gray;
  padding: 10px;
}

.endereco-atual {
  width: 100%;
  border: 1px solid gray;
  padding: 10px;
}

.captured-images {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.postar-buttons {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.postar-button {
  width: 8rem;
  height: 2.5em;
  border: 1px solid #ffffff;
  color: #ffffff;
  background-color: blue;
}

.voltar-button {
  width: 8rem;
  height: 2.5em;
  border: 1px solid rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  background-color: #ff5e5e;
  text-align: center;
}

#cap{

}