* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  overflow-x: hidden;

}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
}

#titleExp {
  text-align: center;
  margin: 0 3vw;
  color: #fff;
  font-weight: 650;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#itensEsquerda {
  align-items: center;
  display: flex;
  flex-direction: column;
}

#itensEsquerda>button {
  margin-top: 6em;
}

#esquerda {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 50vw;
  height: 100vh;
  background-color: #AAA4F2;
  margin-right: 0;
}

#formsDireita {
  width: 50vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  margin-bottom: 5rem;

}

.btnCadastrar {
  position: relative;
  display: inline-block;
  padding: 12px;
  width: 20rem;
  border-radius: 10px;
  cursor: pointer;
  border: 2px solid #AAA4F2;
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: #AAA4F2;
  color: #fff;
  overflow: hidden;
  transition: background-color 0.3s ease-out;
}

.btnCadastrar::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease-out;
}

.btnCadastrar:hover {
  background-color: #fff;
  color: #AAA4F2;
  border: 2px dotted #AAA4F2;
  transition: background-color 0.3s ease-in;
}

.btnCadastrar:hover::after {
  opacity: 1;
  transition: opacity 0.8s ease-in;
}

.btnsVoltar {
  width: 20rem;
  padding: 12px;
  border-radius: 10px;
  cursor: pointer;
  border: 2px solid #fafafa;
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
  background-color: #e6e6e6;
  color: #000000;
  cursor: pointer;
  overflow: hidden;
  transition: background-color 0.3s ease-out;
}

.btnsVoltar:hover {
  background-color: #b1b1b1;
  color: #ffffff;
  border: 2px solid #fdfcff;
  transition: background-color 0.3s ease-in;
}

.btnsVoltars::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;

  background-color: rgba(255, 255, 255, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease-out;
}

.btnsVoltarhover::after {
  opacity: 1;
  transition: opacity 0.8s ease-in;
}

.Btns {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.cxInput {
  display: flex;
  justify-content: center;
}

@media (max-width: 815px) {
  #esquerda {
    display: none;
  }
}