h2 {
  text-align: center;
}

#imgCap{
  display: flex;
  align-items: center;
  width: 30vw;
  flex-wrap: wrap;
  justify-content: center;
}

.btnsOps {
  display: flex;
  justify-content: space-evenly;
  margin-top: 1vh;
}

#tirarFoto {
  text-align: center;
  padding: 3vh 6rem;
  background-color: #AAA4F2;
  color: #fff;
}

#tirarFoto:hover {
  background-color: #e5d9ff;
  color: #AAA4F2;
}

#escolherFoto {
  padding: 3vh 6rem;
}

#escolherFoto:hover,
.btnVoltar:hover {
  background-color: #b4b4b4;
  color: #000;
}

#tirarFoto,
#escolherFoto {
  margin-top: 2vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  cursor: pointer;
  border-radius: 15px;
  width: 6rem;
}

.btnVoltar {
  margin: 1vh 0 0 1vh;
  padding: 1vh 5vw;
  border-radius: 10px;
  cursor: pointer;
}

video {
  width: 100vw;
  margin-top: 1.5vh;
}

.camera-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
}

.cxTudo {
  display: flex;
  justify-content: center;
  width: 100vw;

}

.video-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 75%;
  /* Define a proporção de aspecto 4:3 (altere conforme necessário) */
}

.video-container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.button-container {
  margin-top: 16px;
  display: flex;
  justify-content: space-around;
}

.button-container button {
  margin-right: 8px;
}

.cxTudo cameraContainer{
  width: 100vw;
}